[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
"beautifulsoup4" = "==4.6.0"
"jinja2" = "==2.9.6"
pyyaml = "==3.13"
intervaltree = ">=2.1.0, <3.0"
dataclasses = "*"
requests = "~=2.18"
requests_toolbelt = "~=0.8"
schematics = "~=2.1"

[dev-packages]
"flake8" = "*"
ipython = "*"
ipdb = "*"
pytest = "*"
black = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.7"
